<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 <meta http-equiv="Content-Script-Type" content="text/javascript" />
 <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
 <link type="text/css" rel="stylesheet" href="/stylesheets/scorethai.css" />
 <title>scorethai: {% block title %}{% endblock %}</title>
 <link rel="alternate" href="/feed" type="application/atom+xml"
  title="scorethai score feed" />
 <link rel="schema.DC" href="http://purl.org/dc" />
 <meta name="DC.Title" xml:lang="en" lang="en"
  content="Sheet music of traditional Thai-Isan songs." />
 <meta name="DC.Creator" content="muri" />
 <meta name="DC.Description" xml:lang="en" lang="en"
  content="Thai-style sheet music of traditional Thai-Isan songs, with the purpose of sharing with learners." />
 <link rel="transformation" href="grokCC.xsl" />
</head>
<body>
<div class="wrapper">

{% if showmenu %}
{# HEADER #}
<div class="header">
<h1><a href="/">scorethai</a></h1>
<div class="description">
โน้ตเพลงดนตรีไทย-อีสาน / Sheet music of traditional Thai-Isan songs.
</div>{# description #}
</div>{# header #}

{# MENUBAR #}
<div class="menubar">
<ul class="menu">
 <li class="menuheader">User</li>
 {% if logined %}
  <li>user: {{ user.nickname }}</li>
  <li><a href="{{loginout_url|escape}}">Logout</a></li>
  {% if isadmin %}<li><a href="/admin/">admin</a></li>{% endif %}
  {% if isoperator %}<li><a href="/_o">operator</a></li>{% endif %}
 {% else %}
  <li><a href="{{loginout_url|escape}}">Login</a></li>
 {% endif %}
</ul>
{% block addscorebox %}{% endblock %}
{% block feed %}{% endblock %}
</div> {# menubar #}
{% block searchbox %}{% endblock %}

<div class="main">{# wrapper of sidebar and content #}

{% endif %} {# if showmenu #}

{# CONTENT #}
{% if msgs %}<div><p>{{ msgs|join:"<br />" }}</p></div>{% endif %}
{% block content %}{% endblock %}

{% if showmenu %}
</div>{# main #}
{% endif %} {# if showmenu #}

{# FOOTER #}
{% if showmenu %}
<div class="footer">
<div class="icon bottommark"><a
href="http://validator.w3.org/check?uri={{ uri|escape }}"><img
src="http://www.w3.org/Icons/valid-xhtml10-blue"
alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
</div>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.1/jp/">
<img alt="Creative Commons License" style="border-width:0; vertical-align: bottom;"
 src="http://i.creativecommons.org/l/by-nc-sa/2.1/jp/80x15.png" /></a>
This page is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.1/jp/">
Creative Commons Attribution-Noncommercial-Share Alike 2.1 Japan License</a>.
Based on a work at
<a href="http://muri.tri6.net/thai/scorethai/">muri.tri6.net</a>.
| <a href="mailto:murimuri@gmail.com">contact</a>.
</div>{# footer #}
{% endif %}{# if showmenu #}

</div>{# wrapper #}
</body>
</html>
