{% extends "base.html" %}
{% block title %}edit: {{ key }}{% endblock %}
{% block content %}
<div class="content">
<form id="editform" action="{{req_path}}" method="post">
<div>
 <textarea id="content" name="content" tabindex="1" style="height: 15em; width:90%;">{{ content }}</textarea>
 <input type="hidden" id="key" name="key" value="{{ key }}" />
 {% if dump %}<input type="hidden" name="dump" value="{{ dump }}" />{% endif %}
</div>
<div id="pv" style="margin: 1ex;"></div>
<div style="margin-top: 1ex;">
 <input type="submit" name="preview" value="preview on new window" tabindex="2"
    onclick="document.forms['editform'].target='preview';" />
 {% if logined %}
 | <input type="submit" name="save" value="save" tabindex="3"
    onclick="document.forms['editform'].target='_self'" />
 {% if deleteable %}
 | <input type="submit" name="delete" value="delete" tabindex="4"
    onclick="document.forms['editform'].target='_self'" />
 {% endif %}
 {% if undeleteable %}
 | <input type="submit" name="undelete" value="undelete" tabindex="5"
    onclick="document.forms['editform'].target='_self'" />
 {% endif %}
 {% endif %}
</div>
</form>
<div><p><a href="{{req_path}}">Stop editting and back to main.</a></p></div>
</div>{# content #}

<style type="text/css">
img.smallBtn { margin-left: 2px; margin-right: 2px; cursor: pointer;}
#pvData { max-height: 15em; overflow: auto; }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">

var ta = $('#content')[0]; // textarea
ta.draggable = true;

$('#pv')
    .append('<span>View:</span>')
    .append('<img id="hider" class="smallBtn" src="s/open.gif" alt="[open]" />')
    .append('<img id="pvUpdate" class="smallBtn" src="s/loading.gif" alt="[loading]" style="display: none;"></span>')
    .append('<div id="pvData" style="display: none;"></div>');

function showUpdate(flag) {
    $('#pvUpdate').attr('src', flag ? "s/loading.gif" : "s/update.gif");
    $('#pvUpdate').attr('alt', flag ? "[loading]" : "[update]");
}
showUpdate(false);
function showOpen(flag) {
    $('#hider').attr('src', flag ? "s/close.gif" : "s/open.gif");
    $('#hider').attr('alt', flag ? "[close]" : "[open]");
}
showOpen(false);

var showing = false;

$('#hider').click(function(ev){
    if (showing) {
        $('#pvData').slideUp();
        $('#pvUpdate').css('display', 'none');
    } else {
        $('#pvUpdate').css('display', 'inline');
        updatePreview();
        $('#pvData').slideDown();
    }
    showing = !showing
    showOpen(showing);
})

function selectByLineColWidth(l, c, w) {
    ta.focus();
    //console.log("lcw="+l+","+c+","+w);
    var text = ta.value;
    var offset = 0;
    if (l > 0) {
        var r = RegExp("([^\\n]*\\n){"+l+"}");
        var m = r.exec(text);
        if (m) {
            offset = m[0].length;
            //console.log("match:"+offset+',"'+m[0]+'"');
        }
    }
    offset += c;
    var end = offset + w;


    /* this not works.
    // set start and end same (to start)
    ta.setSelectionRange(offset, offset);
    var ev = $.Event('keypress');
    ev.which = 65;
    ev.keyCode = 0;
    $('#content').trigger(ev);
    */


    ta.setSelectionRange(offset, end);
    //console.log("offset,end="+offset+","+end);
}

var reIDofTD = /^l(\d+)c(\d+)w(\d+)$/;

function updatePreview() {
    showUpdate(true);
    $.post(
        "{{req_path}}",
        {
            "op": "view",
            "key": $('#editform #key').val(),
            "content": ta.value //$('#editform #content').val()
        },
        function(data, status) {
            if (status != "success") {
                data = '<div class="error">status: ' + status + '</div>' + data;
            }
            $('#pvData').html($(data).find('div.score')[0]);
            showUpdate(false);

            $('#pvData td').click(function(ev) {
                var id = $(this).attr('id');
                var match = reIDofTD.exec(id);
                if (match) {
                    //console.log('match:'+match);
                    try {
                        var l = Number(match[1]) + 1; //why+1??
                        var c = Number(match[2]);
                        var w = Number(match[3]);
                        selectByLineColWidth(l, c, w);
                    } catch (e) {
                        console.log(e);
                    }
                }
            });
        },
        "html"
    );
}

$('#pvUpdate').click(updatePreview);

</script>

{% endblock %}{# content #}
